<div class="container-fluid">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
      <h5 class="card-title"><span>Job Type</span></h5>
      <input type="checkbox" id="job" name="time" value="full">
      <label for="job"> Full Time</label><br>
      <input type="checkbox" id="job" name="time" value="full">
      <label for="job"> Part Time</label><br>
      <input type="checkbox" id="job" name="time" value="full">
      <label for="job"> Contract</label><br>
      <input type="checkbox" id="job" name="time" value="full">
      <label for="job"> Internship</label><br>

      <div class="Experience">
        <h5 class="card-title"><span>Experience level</span></h5>
        <input type="checkbox" id="job" name="level" value="full">
        <label for="job"> Senior</label><br>
        <input type="checkbox" id="job" name="level" value="full">
        <label for="job"> Junior</label><br>
      </div>
      <div class="Posted ">
        <h5 class="card-title"><span>Posted Time</span></h5>
        <input type="checkbox" id="job" name="level" value="full">
        <label for="job"> Last day</label><br>
        <input type="checkbox" id="job" name="level" value="full">
        <label for="job"> Last 3 days</label><br>
        <input type="checkbox" id="job" name="level" value="full">
        <label for="job"> Last month</label><br>
      </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          
        </div>
      </div>
    </div>
  </div>
</div>