<div class="table">
  <h2>Posted Jobs</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Job Type</th>
      <th scope="col">City</th>
      <th scope="col">Created on</th>
      <th scope="col">Total Applicants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Project Manager</th>
      <td>Full Time</td>
      <td>Texas</td>
      <td>20th Dec</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">UI Designer</th>
      <td>Contract</td>
      <td>Nairobi</td>
      <td>5th July 2021</td>
      <td>15</td>
    </tr>
    <tr>
      <th scope="row">Junior Developer</th>
      <td>Part Time</td>
      <td>kigali</td>
      <td>7th August 2021</td>
      <td>60</td>
    </tr>
  </tbody>
</table>
</div>