<button type="button" class="btn btn-success">+ POST A NEW JOB</button>
<div class="dash">
<ul>
    <li> <i class="fa fa-th-large" aria-hidden="true"></i>Dashboard</li>
    <li><i class="fa fa-credit-card" aria-hidden="true"></i>Posted Jobs</li>
    <li><i class="fa fa-user" aria-hidden="true"></i>Applicants</li>
    <li><i class="fa fa-cog" aria-hidden="true"></i>Settings</li>
 </ul>
</div>
<div class="card-deck">
   
      <div class="card-body text-center">
        <i class="fa fa-credit-card" aria-hidden="true"></i> 
        <h5 class="card-title">Posted jobs</h5>
     
     </div>
     <div class="card-body text-center">
        <i class="fa fa-user" aria-hidden="true"></i>
        <h5 class="card-title">Total Applicants</h5>
     </div>
     <div class="card-body text-center">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <h5 class="card-title">JOB VIEWS</h5>
     </div>
</div>
  